.navbar{
    margin: 0 !important;
    border-radius: 0!important;
    background-color: #1ecbf4;
    border: none;
    
    
}
.navbar .container-fluid {
    margin: 0;
    padding: 0 20px;
}

#myNavbar ul li a, .navbar-brand{
    text-transform: uppercase;
    font-weight: bold;
    color: #fff !important;
}



.jumbotron{
    /* background-color: #16abab; */
    background-color: #1ecbf4;
    color: #fff;
    padding: 100px  25px;
}
.container-fluid{
    padding: 60px 50px;
}
.bg-grey{
    background: #f6f6f6;
}
.logo{
    font-size: 150px;
    color: #1ecbf4;
}
.logo-small{
    color: #1ecbf4;
    font-size: 30px;
}
@media only screen and (max-width:768px){
    .col-sm-4{
        text-align: center;
        margin: 25px 0;
    }

}
.thumbnail{
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0px;
    
}
.thumbnail a{
    display: block !important;
  height: 300px;
  

}
.thumbnail a:hover{
  box-shadow: 1px 1px 20px #333;  
}
.thumbnail img{
   
   
    border: 1px solid rgb(223, 223, 223);
}
.parent{
    position: relative;
}
.img-title{
    font-size: 1.6rem;
    font-weight: bold;
}
.hidden{
    display: none;
}
.parent:hover .click-on-me{
    position: absolute;
    top: 50% ;
    right: 0;
    display: block;
    background-color: #1ecbf4;

}


